.typography{
	font-family: 'EB Garamond', 'Garamond', 'Georgia', serif;

}


.typography p {
	color: #333;
	margin: 0 0 18px 0;
	font-size: 18px;
	line-height: 20px;
}

.typography li {
	margin-left: 10px;
	font-size: 18px;
	/*color: #fef8d3;*/

}

.typography ul {
	line-height: 35px;
	margin-left: 10px;
	list-style-type: circle;
	list-style: outside;
}

.typography ol {
	list-style-type: decimal;
	list-style-position: inside;

}

.typography ol li {
	margin: 5px 0;

}
.typography a {
	color: #a01815;
	text-decoration: none;
	/*padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1px dotted #77bcdd; */
	
		margin: 0 0 18px 0;

}

.typography h2 {
	/*font-family: 'Rokkit', serif; */
		font-family: 'EB Garamond', 'Garamond', 'Georgia', serif;
	font-size: 32px;
	color: #a01815;
	font-weight: bolder;
	padding: 6px 0;

}

.initiative h2{
	font-size: 26px;
}

.typography h3, .typography h3 a {
	/*font-family: 'Rokkit', serif;*/
		font-family: 'EB Garamond', 'Garamond', 'Georgia', serif;

	font-size: 26px;
	color: #213671;
	padding: 5px 0;

}

.typography .blogSummary p{
	line-height: 25px;
}

.typography #featured-news h3 {
	line-height: 10px;

}

.typography h2.postTitle  {
	font-size: 62px;
	font-family: 'Rokkit', serif;
	color: #334371;
	border-bottom: 1px solid #ddd;
	font-weight: normal;

}

.typography .authorDate {
	font-size: 16px;
	/*line-height: 5px;*/

}

.typography .posted-by {
	font-size: 16px;
	line-height: 10px;

}
.typography strong {
		font-weight: bold;
		color: #334371;
}

#footer a {
	color: #fef8d3;
}

#footer-content a {
	/* font-size: 14px; */
	
}

#footer-content p {
	color: white;
	font-size: 16px;

}

#footer-content li a{
	color: #fef8d3;
}

#footer-content ul {
list-style: none;
line-height: normal;

}

#footer-content ul li a {
	font-size: 20px;
}

#footer-content ul li.first {
	margin-left: 0;

}

#nav li { 
	font-family: 'Rokkit', arial, serif;
	font-size: 28px;

	text-transform: lowercase;
	

}

#nav li a {
	color: #f5f5f5;
	text-decoration: none;
}

#nav li a.section {
	color: 
	
}

.section {

	color: #feee88;
}

.link{
	color: #fef8d3;
}


img a {
	border: none;
}

#learn_about{
	font-size: 23px;
	color: rgba(118,118,118,1);
}

#main-feature h2 {
	font-weight: normal;
	font-size: 52px;
	width: 536px;
	margin: 0;
	margin-bottom: 35px;
}

#register-button, #class-button{
	font-size: 52px;
	background: #2a627d;
	color: #fef8d3;
	padding: 10px;
	border: none;
	
	-moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);

}

#schedule-button {
	font-size: 18px;
	background: #2a627d;
	color: #fef8d3;
	padding: 5px;
	border: none;
	
	-moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
	

#main-feature p{
	margin-top: 50px;
	width: 425px;
	font-size: 24px;

}

span.gc-cs-link {
color: white;
}

/* Homepage Typography */

.typography #homepage-tagline p{
	font-size: 32px;
	line-height: 34px;
	margin-top: 23px;

}

.tagline-link span {
	font-size: 32px;
	color: #213671;

}

#content1 h1 {
	font-size: 62px;
	color: #334371;
	border-bottom: 2px solid #ddd;
	margin: 20px 0;
	font-family: 'Rokkit', 'serif';
	

}

#initiative_content h1{
	
	margin: 50px 0 0 10px;;
}

.tagcloud .not-popular { font-size: 0.5em; }
.tagcloud .not-very-popular { font-size: 0.6em; }
.tagcloud .somewhat-popular { font-size: 0.7em; }
.tagcloud .popular { font-size: 0.8em; }
.tagcloud .very-popular { font-size: 1em; }
.tagcloud .ultra-popular { font-size: 1.1em; }

/*Legislative Branch*/