body {
	background-image:url(../images/background.jpg);
	background-repeat: repeat-x;
	background-color: #292929;
	margin:0;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
.padding {
	padding: 2em;
}

#header {
	background-repeat:no-repeat;
	width:auto;
	padding:0;
	margin:0;
	position:relative;
}

#header img {
/*margin-top: 30px;*/
	margin:0;
	padding:0;
}

#header-content {
	padding:0;
	margin-left:auto;
	margin-right:auto;
}

#header-content img {
/*display: block;*/
	margin-top:25px;
}

.uiowa-logo {
	height:28px;
}
.navbar{
	background: url('../images/navigation_background.png');
	background-repeat: no-repeat;
	margin-top: 10px; 
}

.navbar-inner{
	background: #c5201e;
	border: 1px solid rgba(238,238,238,0.43);
	border-radius: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0B94E',endColorstr='#E0B94E',GradientType=0)
	
}

.navbar .nav>li>a {
	color:#eeeeee;
	text-shadow:#3B3B3B 1px 1px 3px;
	text-transform: lowercase;
	border-bottom: 1px solid rgba(255,255,255,0.57);
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
	color: white;
	background-color: #a71917;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{

	color: white;
	background-color: #a71917;	
	
}

.navbar .brand {
	color:#eeeeee;
	text-shadow:#3B3B3B 1px 1px 3px;
	
}

.navbar .nav>li{
	border-right: 1px solid #D96461; 
	 
}

@media (min-width: 960px) {
	.navbar .nav>li>a {
		font-size: 2em;
		padding: 1em;
		border: none;
	}
}


.carousel-caption{
	color: white;
	font-size: 1.2em;
}

tr.odd {
	background:#ededed;
}

tr.even{
	background:#dedede;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td.initiative{
	padding: 20px;
}

td.img {
	padding-bottom: 5px;
	background-color:#cfcfcf;
}

.typography td a {
	color: #334371; 
}
/* Old, unused */
#sub-navigation {
	float:right;
	background:#fff;
	border:1px solid #ddd;
	padding:20px;
	margin-bottom:20px;
	margin-left:20px;
	width:200px;
}

#sub-navigation ul {
	list-style-type:none;
}

#sub-navigation li {
	margin:0;
}

table#highlighted-initiative{
	padding:20px;
	width:100%;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
table#highlighted-initiative h2{
	font-size: 36px;
}

table#highlighted-initiative p{
	font-size: 21px; 
}

initiative h2{ 
	font-size:26px; 
}
table.branch-initiatives{
	margin: 0 auto; 
	margin-top: 10px;
	width: 97%; 
}

.branch-initiatives td.img {
	width: 200px;
	padding-bottom: 5px;
	background-color: #cfcfcf;
}

#hinit{
	padding: 14px 14px 9px 17px;
	width: 204px; 
	background: #dedede;
}

.typography td{
	border: 10px solid;
	border-color: whiteSmoke;
}

#background-wrapper {
	background-repeat:repeat;
}

#body-wrapper {
	margin:auto;
	min-height:400px;
}

.clear {
	clear:both;
}

.clear-left {
	clear:left;
}

#content {
	margin:auto;
	min-height:700px;
	background:#f5f5f5;
	-webkit-box-shadow:#b7b7b7 1px 1px 6px 1px inset;
	margin-top:-25px;
}

#content img.right {
	float:right;
}

#content img.left {
	float:left;
}

.featured-student-listing {
	background-color:#fafafa;
	padding:20px;
	border:1px solid #ddd;
	margin-top:10px;
	background:url(../images/crinkly_bg.png);
}

.featured-student-listing img {
	margin-left:10px;
}

#content1 {
	padding: 20px 40px;
}

/*Blog Styles */
#blog-content {

}

#event-content {
}

#blog-sidebar {

}

/* About Page */
#about-social-media {
	float:right;
/*padding: 10px;*/
	background:#ececec;
	
	border:1px solid #ddd;
	min-height:300px;

}
#about-social-media h2{
	color: #213671; 
	padding: 10px; 
	display: block;
	text-align: center;
	font-weight: normal;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */ 
}
	

#about-social-media ul {
	list-style-type:none;
}

#about-social-media li {
	font-size:32px;
	color:#0A88C2;
	padding:10px 0;
}

#about-content {
/*width: 450px; */
	float:left; 

	border-bottom:1px inset #8B8989;
	
}

/* Branch Page */
#branch-intro {
	border-bottom:1px solid #ddd;
}

#branch-intro p {
	float:left;
	width:450px;
}

#branch-intro img {
	float:right;
}

#branch-news {
	width:500px;
	float:left;
}

#branch-people {
	float:left;
	width:350px;
	margin-left:20px;
}

/* Home Page Styles */
#homepage-left-column {
	width:500px;
	float:left;
}

#homepage-right-column {
	width:360px;
	float:left;
}

#homepage-tagline-container {
	padding-top: 45px; 
}

#homepage-tagline {
	
}

#tagline-link-container {

}

.tagline-link {
	/*width:250px;*/
	display:block;
	border:1px solid #d4d4d4;
	padding:10px 20px;
/* gradient background */
	background:#fff;
/* Old browsers */
	background:-moz-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* Opera11.10+ */
	background:-ms-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);
/* IE6-9 */
	background:linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* W3C */
}

.tagline-link:active {
}

.tagline-link span {
	display:block;
	text-align:center;
}

#breadcrumbs {
	padding:10px 0;
}

#homepage-feature-container {
	background:#ececec;
	border-top:1px solid #ddd;
	border-top:1px solid #ddd;
}

#homepage-social-media {
/*margin-top: 60px;*/
}

#homepage-social-media iframe {
	margin-top:30px;
}

#homepage-features2 {
	margin-top:30px;
}

#homepage-current-initiatives {
	float:left;
	width:500px;
	background:#fff;
}

#homepage-current-initiatives h2 {
	margin:0;
	padding:0;
}

/*#homepage-current-initiatives h2 a, #about-social-media h2, #homepage-featured-student h2 a{*/
.typography .homepage-feature h2,.typography .homepage-feature h2 a,.content-feature h2 {
	display:block;
	color:#213671;
	text-align:center;
	font-weight:400;
	background:#fff;
/* Old browsers */
	background:-moz-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* Opera11.10+ */
	background:-ms-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);
/* IE6-9 */
	background:linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* W3C */
	margin:0;
	padding:0;
}

.typography .homepage-feature h2 a {
	padding:10px;
}

/*#homepage-current-initiatives h2 a:active, .tagline-link:active, #homepage-featured-student h2 a:active{*/
.homepage-feature h2 a:active,.tagline-link:active {
	background:#fff;
/* Old browsers */
	background:-moz-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(100%,#fff));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* Opera11.10+ */
	background:-ms-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e',endColorstr='#5ffffff',GradientType=0);
/* IE6-9 */
	background:linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* W3C */
}

#homepage-current-initiatives li a:hover {
	background:#334371;
	color:#fff;
}

#homepage-current-initiatives li {
	list-style-type:none;
	margin:0;
}

#homepage-current-initiatives h2 a {
	margin:0;
}

#homepage-current-initiatives li a {
	color:#213671;
	list-style-type:none;
	display:block;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	padding:5px;
	margin:0;
	background:#f7f7f7;
}

#homepage-current-initiatives li a.last {
	border-bottom:1px solid #ddd;
}

#homepage-featured-student {
	width:500px;
	background:#fff;
	border:1px solid #ddd;
	margin-bottom:10px;
}

#homepage-featured-student img {
	float:left;
	margin:0;
	margin-right:10px;
	margin-bottom:10px;
}

.featured-student-nav {
	list-style-type:none;
	border-top:1px solid #ddd;
	margin-top:20px;
}

.typography .featured-student-nav li {
	list-style-type:none;
	float:left;
	margin-right:20px;
	margin-left:0;
}

#homepage-featured-student-content {
	padding:10px;
}

#homepage-contact-form input,#homepage-contact-form textarea {
	display:block;
	width:100%;
	border:1px solid #ddd;
	font-size:22px;
}

#homepage-contact-form label {
	font-size:22px;
	color:#333;
}

#homepage-contact-form input.action {
	width:auto;
	cursor:pointer;
	margin-top:20px;
	padding:10px;
	color:#213671;
	background:#fff;
/* Old browsers */
	background:-moz-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* Opera11.10+ */
	background:-ms-linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);
/* IE6-9 */
	background:linear-gradient(top,#fff 0%,#e5e5e5 100%);
/* W3C */
}

#homepage-contact-form input.action:active {
	background:#fff;
/* Old browsers */
	background:-moz-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(100%,#fff));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* Opera11.10+ */
	background:-ms-linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* IE10+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e',endColorstr='#5ffffff',GradientType=0);
/* IE6-9 */
	background:linear-gradient(top,#e5e5e5 0%,#fff 100%);
/* W3C */
}

#homepage-current-initiatives ul {
	margin:0;
	padding:0;
}

#homepage-contact-form {
	float:left;
	width:460px;
/*margin-left: 20px;*/
	background:#fff;
/*padding: 20px;*/
	border:1px solid #ddd;
}

#form-container {
	padding:20px;
}

#headline-container {
	padding:0 20px;
}

#headline-container p {
	line-height:20px;
}

#headline-container li {
	border-bottom:1px solid #ddd;
}

#featured-news {
	/*margin-left:25px;
	float:left;
	width:390px;*/
	background:#fff;
	border:1px solid #ddd;
}

#featured-news h2 a {
	margin:0;
}

#featured-news li {
	margin:20px 0;
	list-style-type:none;
}

#featured-news ul {
	list-style-type:none;
	margin:0;
}

#featured-news ul h3 {
	margin:0;
	padding:0;
	display:inline;
}

#slider {
	float:left;
	margin-bottom:50px;
	background-size: cover;
}

.twtr-widget {
/*float: left;*/
/*margin-left: 20px;*/
/*margin-top: 60px;*/
	display:inline;
}

.twtr-widget p {
	font-size:18px!important;
}

.twtr-widget em {
	font-size:16px!important;
}

#youtube {
	width:480px;
	float:left;
}

#govt-bar {
	height:35px;
	background-image:url(../images/govt_bar_background.png);
	background-repeat:repeat-x;
}

/* UISG / ECGPS Global bar-thing */
#govt-bar-content {
	width:960px;
	margin:auto;
}

.govt-bar-division {
	font-family:'EB Garamond','Garamond','Georgia',serif;
	float:right;
	color:#fff;
	margin-top:5px;
}

.govt-bar-division a {
	color:#fff;
	text-decoration:none;
}

a.active-govt-site {
	color:#c5ab40;
}

.uiowa-logo {
	float:left;
}

/* Footer stuff */
#footer-content {
	float:left;
}

#footer-content p {
	line-height:25px;
	margin-top:25px;
	margin-bottom:0;
}

#footer-content ul {
	margin:0;
	padding:0;
}

#contact-info {
}
@media (min-width: 768px) {
	#footer-content ul li {
		list-style:none;
		display:inline;
		float:left;
		margin:0 20px;
		font-size:20px;
	}
}



.footer-uiowa {
	margin-top:10px;
}

#footer {
	background-color:#1a1a1a;
/*min-height: 100px;*/
	margin:auto;
	padding:30px;
}

#footer-logos {
	float:right;
}

#footer-logos img {
	display:block;
}

.blogSummary {
	border-bottom:1px solid #ddd;
	margin:10px 0;
}

.read-more-link,.readmore {
	float:right;
	font-size:16px;
}

#legislations{
	width: 100%;
	margin-top: 20px;
}

#legislations h2{
	text-align: center; 
	font-size: 15px; 
	color: #213671; 
}
#legislations h2 a{
	color: #213671; 
}

